In [8]:
import numpy as np
import pandas as pd
import os
import glob

## Bawang

In [13]:
Aceh = pd.read_csv("Aceh.csv")
Bali = pd.read_csv("Bali.csv")
Banten = pd.read_csv("Banten.csv")
Bengkulu = pd.read_csv("Bengkulu.csv")
Yogyakarta = pd.read_csv("DI Yogyakarta.csv")
Jakarta = pd.read_csv("DKI Jakarta.csv")
Gorontalo = pd.read_csv("Gorontalo.csv")
Indonesia = pd.read_csv("Indonesia.csv")
Jambi = pd.read_csv("Jambi.csv")
JawaBarat = pd.read_csv("Jawa Barat.csv")
JawaTengah = pd.read_csv("Jawa Tengah.csv")
JawaTimur = pd.read_csv("Jawa Timur.csv")
KalBar = pd.read_csv("Kalimantan Barat.csv")
KalSel = pd.read_csv("Kalimantan Selatan.csv")
KalTeng = pd.read_csv("Kalimantan Tengah.csv")
KalTim = pd.read_csv("Kalimantan Timur.csv")
KalUt = pd.read_csv("Kalimantan Utara.csv")
Bangka = pd.read_csv("Kepulauan Bangka Belitung.csv")
PulauRiau = pd.read_csv("Kepulauan Riau.csv")
Lampung = pd.read_csv("Lampung.csv")
MalukuUtara = pd.read_csv("Maluku Utara.csv")
Maluku = pd.read_csv("Maluku.csv")
NusaBarat = pd.read_csv("Nusa Tenggara Barat.csv")
NusaTimur = pd.read_csv("Nusa Tenggara Timur.csv")
PapuaBarat = pd.read_csv("Papua Barat.csv")
Papua = pd.read_csv("Papua.csv")
Riau = pd.read_csv("Riau.csv")
SulBar = pd.read_csv("Sulawesi Barat.csv")
SulSel = pd.read_csv("Sulawesi Selatan.csv")
SulTeng = pd.read_csv("Sulawesi Tengah.csv")
SulTengg = pd.read_csv("Sulawesi Tenggara.csv")
SulUt = pd.read_csv("Sulawesi Utara.csv")
SumBar = pd.read_csv("Sumatera Barat.csv")
SumSel = pd.read_csv("Sumatera Selatan.csv")
SumUt = pd.read_csv("Sumatera Utara.csv")

In [15]:
Aceh

            Date     bawang
0     2022-01-01   0.000000
1     2022-01-02   0.000000
2     2022-01-03  42.000000
3     2022-01-04   0.000000
4     2022-01-05   0.000000
...          ...        ...
999   2024-09-26   0.000000
1000  2024-09-27   0.000000
1001  2024-09-28  42.159188
1002  2024-09-29   0.000000
1003  2024-09-30   0.000000

[1004 rows x 2 columns]